.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:1;
}
body{
	background-color: gray;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}